@model SeniorProjectPreReq.Models.Metrics

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Metrics</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetricName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetricName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rangeTop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rangeTop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rangeBottom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rangeBottom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
