@model IEnumerable<SeniorProjectPreReq.Models.Programs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Program_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program_Level)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Program_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program_Level)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProgramID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProgramID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProgramID })
        </td>
    </tr>
}

</table>
