@model SeniorProjectPreReq.Models.School

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>School</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Editors_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editors_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolPrincipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolPrincipal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentsEnrolled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentsEnrolled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReducedLunchPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReducedLunchPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCharter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCharter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MHSReadingPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MHSReadingPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MHSMathPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MHSMathPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlgebraIPassRatePercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlgebraIPassRatePercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccCourseParticipationPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccCourseParticipationPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PSRReadyReadingPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PSRReadyReadingPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PSReadyMathPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PSReadyMathPercentage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
