@model SeniorProjectPreReq.Models.CompareViewModel

@{
    ViewBag.Title = "CompareView";
}

<h2>Compare your schools!</h2>

<div class="row">
    @if (Model.schoolOne != null)
    {
    <div class="col-md-4">
        <div>
            <h4>@Html.DisplayFor(model => model.schoolOne.generalSchoolData.SchoolName)</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.schoolOne.generalSchoolData.SchoolName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolOne.generalSchoolData.SchoolName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolOne.generalSchoolData.schoolTypeID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolOne.generalSchoolData.type.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolOne.generalSchoolData.SchoolAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolOne.generalSchoolData.SchoolAddress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolOne.generalSchoolData.SchoolPrincipal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolOne.generalSchoolData.SchoolPrincipal)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolOne.generalSchoolData.SchoolPhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolOne.generalSchoolData.SchoolPhone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolOne.generalSchoolData.SchoolWebsite)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolOne.generalSchoolData.SchoolWebsite)
                </dd>
            </dl>

            <iframe align="middle" width="360" height="315" src=@Model.schoolOne.schoolVideo frameborder="0" allow="encrypted-media" allowfullscreen></iframe>


            <h4>Metrics</h4>
            <dl class="dl-horizontal">
                @if (Model.schoolOne.allMetrics != null)
                {
                foreach (var i in Model.schoolOne.allMetrics)
                {
                <dd>
                    @Html.Display(i.MetricName)
                </dd>
                <dd>
                    @Html.Display(i.Description)
                </dd>
                }
                }
            </dl>

            <h4>Programs</h4>
            <ul class="list-group">
                @if (Model.schoolOne.allPrograms != null)
                {
                    foreach (var i in Model.schoolOne.allPrograms)
                    {
                    <li class="list-group-item" title="@Html.DisplayFor(model => i.programDescription)">
                        @Html.DisplayFor(model => i.programName)
                    </li>
                    }
                }
            </ul>

        </div>
    </div>
    }
    else
    {
    <div class="col-md-4"></div>
    }
    @if (Model.schoolTwo != null)
    {
    <div class="col-md-4">
        <div>
            <h4>@Html.DisplayFor(model => model.schoolTwo.generalSchoolData.SchoolName)</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.schoolTwo.generalSchoolData.SchoolName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolTwo.generalSchoolData.SchoolName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolTwo.generalSchoolData.schoolTypeID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolTwo.generalSchoolData.type.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolTwo.generalSchoolData.SchoolAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolTwo.generalSchoolData.SchoolAddress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolTwo.generalSchoolData.SchoolPrincipal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolTwo.generalSchoolData.SchoolPrincipal)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolTwo.generalSchoolData.SchoolPhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolTwo.generalSchoolData.SchoolPhone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolTwo.generalSchoolData.SchoolWebsite)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolTwo.generalSchoolData.SchoolWebsite)
                </dd>
            </dl>

            <iframe align="middle" width="360" height="315" src=@Model.schoolTwo.schoolVideo frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

            <h4>Metrics</h4>
            <dl class="dl-horizontal">
                @if (Model.schoolTwo.allMetrics != null)
                {
                foreach (var i in Model.schoolTwo.allMetrics)
                {
                <dd>
                    @Html.Display(i.MetricName)
                </dd>
                <dd>
                    @Html.Display(i.Description)
                </dd>
                }
                }
            </dl>

            <h4>Programs</h4>
            <ul class="list-group">
                @if (Model.schoolOne.allPrograms != null)
                {
                    foreach (var i in Model.schoolTwo.allPrograms)
                    {
                        <li class="list-group-item" title="@Html.DisplayFor(model => i.programDescription)">
                            @Html.DisplayFor(model => i.programName)
                        </li>
                    }
                }
            </ul>

        </div>
    </div>
    }
    else
    {
    <div class="col-md-4"></div>
    }
    @if (Model.schoolThree != null)
    {
    <div class="col-md-4">
        <div>
            <h4>@Html.DisplayFor(model => model.schoolThree.generalSchoolData.SchoolName)</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.schoolThree.generalSchoolData.SchoolName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolThree.generalSchoolData.SchoolName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolThree.generalSchoolData.schoolTypeID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolThree.generalSchoolData.type.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolThree.generalSchoolData.SchoolAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolThree.generalSchoolData.SchoolAddress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolThree.generalSchoolData.SchoolPrincipal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolThree.generalSchoolData.SchoolPrincipal)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolThree.generalSchoolData.SchoolPhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolThree.generalSchoolData.SchoolPhone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.schoolThree.generalSchoolData.SchoolWebsite)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolThree.generalSchoolData.SchoolWebsite)
                </dd>
            </dl>

            <iframe align="middle" width="360" height="315" src=@Model.schoolThree.schoolVideo frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

            <h4>Metrics</h4>
            <dl class="dl-horizontal">
                @if (Model.schoolThree.allMetrics != null)
                {
                foreach (var i in Model.schoolThree.allMetrics)
                {
                <dd>
                    @Html.Display(i.MetricName)
                </dd>
                <dd>
                    @Html.Display(i.Description)
                </dd>
                }
                }
            </dl>

            <h4>Programs</h4>
            <ul class="list-group">
                @if (Model.schoolOne.allPrograms != null)
                {
                    foreach (var i in Model.schoolThree.allPrograms)
                    {
                    <li class="list-group-item" title="@Html.DisplayFor(model => i.programDescription)">
                        @Html.DisplayFor(model => i.programName)
                    </li>
                    }
                }
            </ul>

        </div>
    </div>
    }
    else
    {
    <div class="col-md-4"></div>
    }
</div>

