@model SeniorProjectPreReq.Models.mainPageViewModel
@{
    ViewBag.Title = "JPEF School Portal";
}
<script>
    // john
    //you want to grab all the elements by id and update them
    //<h1 id="schoolName"></h1>
    //would be $("#schoolName").innerHTML = schoolData.schoolName;

    function getApiData(id) {
        var schoolData
        var stuff = $.ajax({
            url: "../API/School/" + id,
            success: function (data) {
                schoolData = data
                console.log('success', data)
                $("#dataPanel").show()
                $("#messagePanel").hide()
                $("#schoolName").text(schoolData.schoolName);
                $("#schoolAddress").html('<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  ' + schoolData.Address);
                $("#schoolPhone").html('<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  ' + schoolData.Phone);
                $("#schoolWebsite").attr("href", schoolData.Website);
                $("#schoolWebsite").text(schoolData.Website);
                $("#schoolPrincipal").html('<span class="glyphicon glyphicon-user" aria-hidden="true"></span>  ' + schoolData.Principal);
                $("#profileButton").text("Visit " + schoolData.schoolName + "'s profile!");
            }
        })
        $("#profileButton").attr("href", "../SchoolPdatas/AllDetails/" + id);
        
    }
</script>
<br />
<script>
    $(document).ready(function () {
        $("#dataPanel").hide(); 
    });
</script>
<script>
    // <li onclick="getApiData(id)" class="list-group-item">schoolName<input style="float: right;" type="checkbox" name="compare" value="id"></li>

    function checkForCheckbox()
    {
        $('input[type="checkbox"]').click(function (event) {
            event.stopImmediatePropagation();
            if ($('input:checked').length > 3) {
                event.preventDefault();
                alert('You cannot choose more than 3 schools for comparison.');
            }
        });
    }
    function buttonCheckForCheckbox() {
        var numberOfCheckboxesSelected = $('input[type=checkbox]:checked').length; 
        if (numberOfCheckboxesSelected < 2)
        {
            alert("Please choose an additional school for comparison.");
            event.preventDefault();
        }
    }
    function clearAndReplace(data) {
        $("#ViewSchoolList").empty();
        for (var i = 0; i < data.length; i++) {
            $("#ViewSchoolList").append('<li onclick="getApiData(' + data[i].ID + ')" class="list-group-item">' + data[i].SchoolName + '<input style="float: right;" type="checkbox" name="compare" value="' + data[i].ID +'"></li> ');
        };
    }
    function getApiSchoolsByTypeAndUpdate(SchoolTypeName) {
        $.ajax({
            type: 'GET',
            url: '/API/' + SchoolTypeName,
            success: function (data) {
                console.log('success', data)
                clearAndReplace(data);
            }

        })

    }
</script>

<style>
    .dont-break-out {
        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;
        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/img/JPEFlogo.jpg" style="width:100%" class="img-responsive">
            <div class="carousel-caption">
                <h1>K - 12 Schools</h1>
                <p></p>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/img/Elementry.jpg">
            <div class="carousel-caption">
                <h1>Elementary Schools</h1>
                <p></p>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/img/MiddleSchool.jpg">
            <div class="carousel-caption">
                <h1>Middle Schools</h1>
                <p></p>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/img/HighSchools.jpg">
            <div class="carousel-caption">
                <h1>High Schools</h1>
                <p></p>
            </div>
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />

<div class="row text-center">
    <div class="col-sm-2 text-center">
        <button onclick='getApiSchoolsByTypeAndUpdate("CollaborationSchools")' class="btn btn-info btn-block" style="background-color:#33C2DA;border-radius: 0px">Combination Schools</button>
    </div>
    <div class="col-sm-2 text-center">
        <button onclick='getApiSchoolsByTypeAndUpdate("prekSchools")' class="btn btn-info btn-block" style="background-color:#33C2DA;border-radius: 0px">Pre-Learning Centers</button>
    </div>
    <div class="col-sm-2 text-center">
        <button onclick='getApiSchoolsByTypeAndUpdate("ElementarySchools")' class="btn btn-info btn-block" style="background-color:#33C2DA;border-radius: 0px">Elementary Schools</button>
    </div>
    <div class="col-sm-2 text-center">
        <button onclick='getApiSchoolsByTypeAndUpdate("MiddleSchools")' class="btn btn-info btn-block" style="background-color:#33C2DA;border-radius: 0px">Middle Schools</button>
    </div>
    <div class="col-sm-2 text-center">
        <button onclick='getApiSchoolsByTypeAndUpdate("HighSchools")' class="btn btn-info btn-block" style="background-color:#33C2DA;border-radius: 0px">High Schools</button>
    </div>
    <div class="col-sm-2 text-center">
        <button onclick='getApiSchoolsByTypeAndUpdate("allSchools")' class="btn btn-info btn-block" style="background-color:#33C2DA;border-radius: 0px">Reset List</button>
    </div>
    @*<div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
                <input type="text" class="form-control" placeholder="Search for...">

            </div>
        </div>*@
</div>

<br />

<div class="row" style="height: 390px">
    <div class="col-md-4">
        <div class="panel panel-default" style="border-radius: 0px">
            <div  class="panel-body" style="height: 400px">
                <div id="dataPanel">
                    <h2 id="schoolName" style="text-align:center;height:50px">School Data</h2>
                    <hr />
                    <dl style="height:150px">
                        @*<dt>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  @Html.DisplayNameFor(x => Model.schoolList.First().SchoolAddress)
                </dt>*@
                        <dd id="schoolAddress" style="font-size:20px">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Address
                        </dd>
                        @*<dt>
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  @Html.DisplayNameFor(x => Model.schoolList.First().SchoolPhone)
                </dt>*@
                        <dd id="schoolPhone" style="font-size:20px">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Phone Number
                        </dd>
                        @*<dt>
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>  @Html.DisplayNameFor(x => Model.schoolList.First().SchoolWebsite)
                </dt>*@
                        <dd style="font-size:20px;width:auto;">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>  <a id="schoolWebsite" href="" class="dont-break-out">
                                Visit their website!
                            </a>
                        </dd>
                        @*<dt>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>  @Html.DisplayNameFor(x => Model.schoolList.First().SchoolPrincipal)
                </dt>*@
                        <dd id="schoolPrincipal" style="font-size:20px">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Principal
                        </dd>
                    </dl>
                    <br />
                    <a class="btn btn-info btn-block" id="profileButton" style="background-color:#33C2DA;border-radius: 0px" href="">Visit their Profile!</a>
                </div>
                <div id="messagePanel">
                    <h2 id="welcome" style="text-align:center;height:50px">Welcome to the JPEF School Viewer</h2>
                    <hr />
                    <p>We hope that this tool helps you to find the Jacksonville area school that best meets the educational needs of your child. To get started simply select a type of school using the buttons above and then browse through the list to your right</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 text-center" style="border-radius: 0px">
        @using (Html.BeginForm())
        {
            <div class="container fluid" style="border-radius: 0px">
                <!-- /input-group -->
                <div style="height: 380px; overflow-y: scroll;border-radius: 0px">
                
                        <ul id="ViewSchoolList" class="list-group" style="border-radius: 0px">
                            @foreach (var item in Model)
                            {
                                <li onclick="checkForCheckbox(),getApiData(@item.ID)" class="list-group-item">@Html.DisplayFor(x => item.SchoolName)<input style="float: right;" type="checkbox" name="compare" value="@item.ID"></li>
                                //onclick(callDataApi(item.ID)
                            }
                        </ul>
                        
                    
                </div>
            </div>
            <input type="submit" id="compareButton" onclick="buttonCheckForCheckbox()" value="Compare" class="btn btn-primary btn-large" style="background-color:#33C2DA;border-radius: 0px;margin:10px 0px;" />
        }
    </div>

</div>