
@using PagedList.Mvc;
@model PagedList.IPagedList<SeniorProjectPreReq.Models.UserRoles.ExpandedUserDTO>

<br />

<div class="container" style="background-color:white">

    <img src="~/Content/img/Administration.jpg" style="width:100%">
    <!-- <h1>Administration Page</h1> -->
</div>

<br />

<div class="container">
    <div class="row">
        <h2>Creation Links</h2>
    </div>
    <div class="row text-center">
        @Html.ActionLink("Approve School YouTube Videos", "YoutubeApprovals", "youtubeURLs", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Create New School", "Create", "SchoolPdatas", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Create School Metric", "Create", "Metrics", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Create School Program", "Create", "Programs", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Create School Principal", "Register", "Account", null, new { @class = "btn btn-default" })
    </div>
    <div class="row">
        <h2>Review Links</h2>
    </div>
    <div class="row text-center">
        @Html.ActionLink("View School YouTube Videos", "Index", "youtubeURLs", null, new { @class = "btn btn-default" })
        @Html.ActionLink("View School List", "Index", "SchoolPdatas", null, new { @class = "btn btn-default" })
        @Html.ActionLink("View Metric List", "Index", "Metrics", null, new { @class = "btn btn-default" })
        @Html.ActionLink("View Program List", "Index", "Programs", null, new { @class = "btn btn-default" })
        @Html.ActionLink("View Principal List", "Register", "Account", null, new { @class = "btn btn-default" })
    </div>
</div>

<br/>

@*<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">All</button>
    <button type="button" class="btn btn-secondary">Approved / Pending</button>
    <button type="button" class="btn btn-secondary">Pending</button>
    <button type="button" class="btn btn-secondary">Disapproved</button>
    <button type="button" class="btn btn-secondary">Inactive</button>
</div>*@

<br />
<br />

@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{
    <div class="form-group">
        Search: &nbsp; @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string)
        <input type="submit" value="search" />
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>School</th>
            <th>Email</th>
            <th>Last Name</th>
            <th>First Name</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1;}
        @foreach (var item in Model)
        {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.schoolID)</td>

                <td>@Html.ActionLink("View " + item.school.SchoolName, "Details", "Schools", new { id = item.schoolID }, new { @class = "btn btn-primary btn-large" })</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.ActionLink("Edit Programs", "EditProgramYear", "Principal", new { id = item.schoolID }, new { @class = "btn btn-primary btn-large" })</td>
                <td></td>
                <td></td>


            </tr>
            i++;
        }
    </tbody>
</table>

