@model SeniorProjectPreReq.Models.AllDetailsViewModel
@{
    ViewBag.Title = @Model.generalSchoolData.SchoolName + "'s Profile";
}
<script>
    var geocoder; 
    var map; 
    var markers = [];
    function randomColor(id) {
        var colors = ["#07A64E", "#13395E", "#F9B71C", "#33C2DA", "#E62440"];

        min = Math.ceil(0);
        max = Math.floor(5);
        var randomcolor = Math.floor(Math.random() * (max - min)) + min;
        document.getElementById(id).style.backgroundcolor = colors[randomColor];
    }
    function codeAddress() {
        //test address syndney opera hall 
        var testAddress = "Bennelong Point, Sydney NSW 2000, Australia";
        var address = document.getElementById("address").innerText;
        console.log("address: ", address); 
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == 'OK') {
                clearMarkers();
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
                markers.push(marker); 
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
    function initMap() {
        geocoder = new google.maps.Geocoder();
        //test start center 30.3270763,-81.656778,20z
        var uluru = { lat: 30.3270763, lng: -81.656778 };
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 9,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
        markers.push(marker)
        codeAddress(); 
    }
    function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = new Array();
    }
</script>
<style>
    .databoxmetric {
        background-color: #13395E;
        width: 150px;
        height: 200px;
        border: 2px blue;
        margin: 10px;
        padding: 20px 0;
        text-align: center;
        font-size: 20px;
    }
    .databoxprogram {
        background-color: #E62440;
        width: 180px;
        height: 200px;
        border: 2px blue;
        margin: 10px;
        padding: 10px 0;
        text-align: center;
        font-size: 20px;
    }
    .header {
        font-size: 14px;
        color: white;
        margin: 10px;
        padding: 10px 0;
        text-align: left;
        height:28px;
    }

    .content {
        font-size: 30px;
        color: white;
        padding: 50px 0px;
        margin: auto;
    }
</style>
<h4></h4>
<div>
    
            <div class="row" >
                <div class="col-lg-4" style="background-color: white; height: 500px">
                    <div id="map" style="height: 200px; width: calc(100% + 30px); margin-left: -15px;  margin-right: -15px;"></div>
                    <h2>@Html.DisplayFor(model => model.generalSchoolData.SchoolName)</h2>
                    <hr />
                    <h4><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <span id="address">@Html.DisplayFor(model => model.generalSchoolData.SchoolAddress)</span></h4>
                    <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @Html.DisplayFor(model => model.generalSchoolData.SchoolPrincipal)</h4>
                    <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> @Html.DisplayFor(model => model.generalSchoolData.SchoolPhone)</h4>
                    <h4><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> @Html.DisplayFor(model => model.generalSchoolData.SchoolWebsite)</h4>
                    
                </div>
                <div class="col-lg-8">
                        @if (Model.schoolVideo != null) {
                            
                            <iframe align="middle" width="100%" height="500" src="@Model.schoolVideo" frameborder="0" allow="encrypted - media" allowfullscreen></iframe>
                        }
                        else
                        {
 
                            <img style="width: 100%; height: 500px;"src="@Url.Content("~/Content/img/classroom.jpg")">
                        }




                </div>
            </div>
        </div>
        
   

<div>
    <h4>Metrics</h4>
    @*<div class="container">
        <ul class="list-group col-md-6">
            @foreach (var i in Model.allMetrics)
            {
                <li class="list-group-item" title="@Html.DisplayFor(model => i.metric.Description)">
                    <span class="badge">@Html.DisplayFor(model => i.value)</span>
                    @Html.DisplayFor(model => i.metric.MetricName)
                </li>
            }
        </ul>
    </div>*@
    <div class="row col-sm-12">
        @foreach (var i in Model.allMetrics)
        {
            <div id="@i.metric.MetricName" class="databoxmetric col-lg-2" title="@Html.DisplayFor(model => i.metric.Description)">
                <script>
            randomColor(@i.metric.MetricName);
                </script>
                <div class="header">@Html.DisplayFor(model => i.metric.MetricName, new { @class = ".header" })</div>
                <div class="content">@Html.DisplayFor(model => i.value, new { @class = "content" })</div>
            </div>
        }
    </div>

    <h4>Programs</h4>
    @*<div class="container">
        <ul class="list-group col-md-6">
            @foreach (var i in Model.allPrograms)
            {
                <li class="list-group-item" title="@Html.DisplayFor(model => i.programDescription)">
                    @Html.DisplayFor(model => i.programName)
                </li>
            }
        </ul>
    </div>*@

    <div class="row col-sm-12">
        @foreach (var i in Model.allPrograms)
        {
            <div class="databoxprogram col-lg-2" title="@Html.DisplayFor(model => i.programDescription)">
                <div class="content">@Html.DisplayFor(model => i.programName)</div>
            </div>
        }
    </div>

</div>

@if (User.IsInRole("Administrator"))
{
    <br />
    <div>
        @Html.ActionLink("Back to List", "Index", "SchoolPDatas")
    </div>
}
else
{
    <br />
    <div>
        @Html.ActionLink("Back to Home", "Index", "Home")
    </div>
}
<!-- TIMS GOOGLE API DO NOT ALLOW INTO PRODUCTION TIM DOES NOT WANT A BILL-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVI-Yro6HisXG_c5pWCrISeKCcGhlSzpY&callback=initMap">
</script>
