@model SeniorProjectPreReq.Models.AllDetailsViewModel
@{
    ViewBag.Title = "AllDetailsSchoolView";
}

<h2>School Profile</h2>

<div>
    <h4>@Html.DisplayFor(model => model.generalSchoolData.SchoolName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.generalSchoolData.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.generalSchoolData.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.generalSchoolData.schoolTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.generalSchoolData.type.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.generalSchoolData.SchoolAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.generalSchoolData.SchoolAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.generalSchoolData.SchoolPrincipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.generalSchoolData.SchoolPrincipal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.generalSchoolData.SchoolPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.generalSchoolData.SchoolPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.generalSchoolData.SchoolWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.generalSchoolData.SchoolWebsite)
        </dd>
    </dl>

    <iframe align="middle" width="560" height="315" src=@Model.schoolVideo frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

    <h4>Metrics</h4>
      

    <h4>Programs</h4>
    <ul class="list-group col-md-6">
        @foreach (var i in Model.allPrograms)
        {
            <li class="list-group-item" title="@Html.DisplayFor(model => i.programDescription)">
                @Html.DisplayFor(model => i.programName)
            </li>
        }
    </ul>


</div>

@if (User.IsInRole("Administrator"))
{
    <div>
        @Html.ActionLink("Back to List", "Index", "SchoolPDatas")
    </div>
}
else
{
    <div>
        @Html.ActionLink("Back to Home", "Index", "Home")
    </div>
}
