@model SeniorProjectPreReq.Models.AllDetailsViewModel
@{
    ViewBag.Title = "AllDetailsSchoolView";
}
<script>
    function initMap() {
        var uluru = { lat: -25.363, lng: 131.044 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<h2>School Profile</h2>

<div>
    
    <div class="jumbotron jumbotron-fluid">
        <div id="map" style="height: 400px; width: 400px;"></div>
    </div>
</div>
    <h4>@Html.DisplayFor(model => model.generalSchoolData.SchoolName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.generalSchoolData.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.generalSchoolData.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.generalSchoolData.schoolTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.generalSchoolData.type.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.generalSchoolData.SchoolAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.generalSchoolData.SchoolAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.generalSchoolData.SchoolPrincipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.generalSchoolData.SchoolPrincipal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.generalSchoolData.SchoolPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.generalSchoolData.SchoolPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.generalSchoolData.SchoolWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.generalSchoolData.SchoolWebsite)
        </dd>
    </dl>

    <iframe align="middle" width="560" height="315" src=@Model.schoolVideo frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

    <h4>Metrics</h4>
      

    <h4>Programs</h4>
    <div class="container">
        <ul class="list-group col-md-6">
            @foreach (var i in Model.allPrograms)
            {
                <li class="list-group-item" title="@Html.DisplayFor(model => i.programDescription)">
                    @Html.DisplayFor(model => i.programName)
                </li>
            }
        </ul>
    </div>


</div>

@if (User.IsInRole("Administrator"))
{
    <div>
        @Html.ActionLink("Back to List", "Index", "SchoolPDatas")
    </div>
}
else
{
    <div>
        @Html.ActionLink("Back to Home", "Index", "Home")
    </div>
}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVI-Yro6HisXG_c5pWCrISeKCcGhlSzpY&callback=initMap">
</script>
