@model PagedList.IPagedList<SeniorProjectPreReq.Models.SchoolPdata>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by School Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            School Type
        </th>
        <th>
            School Name
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Address
        </th>
        <th>
            Website
        </th>
        <th>
            Principal
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.type.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolWebsite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolPrincipal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
