@model SeniorProjectPreReq.Models.highschoolProfile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>highschoolProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.school.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.school.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schoolGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schoolGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enrollment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enrollment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.freeOrReduced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.freeOrReduced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isCharter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCharter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isMagnet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isMagnet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gradRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gradRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emLearningGains)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emLearningGains)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accelCoursework)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accelCoursework)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emPerformance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emPerformance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfricanAmerican)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfricanAmerican)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.White)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.White)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hispanic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hispanic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MixedOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MixedOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unspecified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unspecified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
