@model IEnumerable<SeniorProjectPreReq.Models.middleProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.School.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enrollment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FreeOrReduced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCharter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMagnet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReadingELA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MathPerformance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlgebraPassRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AfricanAmerican)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.White)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hispanic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MixedOther)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unspecified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.School.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolGrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enrollment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FreeOrReduced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCharter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMagnet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadingELA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MathPerformance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlgebraPassRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AfricanAmerican)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.White)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hispanic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MixedOther)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unspecified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
